#contact-form {
  display: flex;
  flex-direction: column;
  max-width: 700px;
}

#contact-form .form-row {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

#contact-form .form-row input {
  font-size: 16px;
  font-weight: 400;
  font-family: "Source Sans Pro", sans-serif;
  background-color: transparent;
  border: 1px solid #1c1c1c;
  border-radius: 5px;
  padding: 10px;
  font-size: 14px;
}

#contact-form .form-row textarea {
  font-size: 16px;
  font-weight: 400;
  font-family: "Source Sans Pro", sans-serif;
  background-color: #ffffff;
  border: 1px solid #1c1c1c;
  border-radius: 5px;
  padding: 10px;
  font-size: 14px;
  height: 400px;
  resize: none;
}

#contact-form .form-row input::placeholder {
  color: #454545;
}

#contact-form .form-row label {
  padding-bottom: 10px;
  font-size: 16px;
  font-weight: 400;
  font-family: Piazzolla, serif;
}

#contact-form .form-row button {
  font-size: 16px;
  font-weight: 400;
  font-family: Piazzolla, serif;
  width: 150px;
  height: 40px;
  align-self: flex-end;
  margin-bottom: 10px;
  border: 1px solid #1c1c1c;
  border-radius: 5px;
  background-color: #ffffff;
  cursor: pointer;
}

#contact-form .form-row button:hover {
  background-color: #a1a1a1;
}