header {
    width: calc(100% - 20px);
    height: 24pt;
    padding: 0 10px;
    border: 1px solid var(--dark-color);
    border-radius: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px auto;
    max-width: 1920px;
}

h1 {
    font-family: var(--heading-font);
    font-size: 14pt;
    text-transform: uppercase;
}

nav > ul {
    display: flex;
    list-style: none;
}

nav > ul > li {
    padding: 0 5px;
    text-transform: lowercase;
    font-family: var(--heading-font);
    font-size: 14pt;
}

nav > ul > li:last-child {
    padding-right: 0;
}