@import url('https://fonts.googleapis.com/css2?family=Piazzolla:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:wght@400;600&display=swap');

:root {
    --heading-font: "Source Sans Pro", sans-serif;
    --body-font: "Piazzolla", serif;
    --dark-color: black;
    --light-color: white;
    background-color: --light-color;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--dark-color);
    fill: var(--dark-color);
}

p, li {
    font-family: var(--body-font);
    font-size: 12pt;
}

li.nav_selected {
    font-weight: bold;
}

li.nav_selected a {
    text-decoration: none;
}

.text_huge {
    font-size: 72pt;
}

.text_small {
    font-size: 10pt;
}

.centered_content {
    text-align: center;
}

.spacer {
    height: 50px;
}

#page {
    max-width: 800px;
    margin: 0 auto;
}

footer {
    margin: 20px 10px 10px 10px;
    text-align: center;
}

footer * {
    font-size: 8pt;
}
